<!doctype html>
<html ng-app>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
  <script type="text/javascript" src="underscore.js"></script>
  <script type="text/javascript" src="todo.js"></script>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="todo.css">


</head>
<body>
<div class="container">
  <div ng-controller="TodoCtrl">
    <h2> My todo list: {{getTotalTodos()}} </h2>
    <ul class="unstyled">
      <li ng-repeat="todo in todos">
        <input type="checkbox" ng-model="todo.done">
        <span class="done-{{todo.done}}">{{todo.text}}</span>
      </li>
    </ul>
    <form class="form-horizontal">
      <input type="text" ng-model="formTodoText">
      <button class="btn btn-success" ng-click="addTodo()"><span class="glyphicon glyphicon-plus"></span>Add</button>
    </form>
    <br>

    <button type="btn" class="btn btn-primary" ng-click="clearCompleted()"><span class="glyphicon glyphicon-trash"> Clear completed</span></button>
  </div>
</div>


</body>
</html>